header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;

    & img{
        width: 226px;
    }

    & nav ul{
        display: flex;

    & a {
        text-decoration: none;
    }  
      
    }
    
    & nav li{
        list-style-type: none;
        color: #ff6060;
        padding: 5px 10px;
        font-size: 24px;
    }
}

