header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    margin:15px 3% 25px 5%;
    

    & img{
        width: 226px;
        @media screen and (max-width: 768px) {
            width: 145px;
        }
    }

    & nav ul{
        list-style: none;
        display: flex;
        color: #ff6060;

    & a {
        text-decoration: none;
    }  
      
    }
    
    & nav li{
        list-style-type: none;
        color: #ff6060;
        padding: 5px 45px;
        font-size: 24px;
        
    }
}

