footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0px;
    width: 100%;
    padding-top: 66px;
    padding-bottom: 30px;

    & .footerElement{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }

    & img {
        width: 120px;
    }
}

.footerLegal{
    color: white;
    font-size: 16px;
    display: block;
    text-align: center;
    margin-top: 30px;
    width: 100%;
}